<nav>
    <span id="nav-item">Інтерактивна інформаційна мапа</span>
    <div class="spacer">
        <div class="img-class">
            <a class="image-class" href="https://mova-ombudsman.gov.ua/" target="_blank" style="padding-right: 5px"><img class="img"
                                                                              src="../../../assets/image1.png"
                                                                              alt="герб"></a>
            <div>Уповноважений із захисту державної мови</div>
        </div>
    </div>
    <div class="right-side">
        <span id="exit" (click)="logOut()" *ngIf="user">
        Вихід
    </span>
    </div>
</nav>
