<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer" (panup)="ASD($event);" (pandown)="ASD($event);" (swipe)="ASD($event);" (swipeup)="ASD($event);" (swipedown)="ASD($event);">
    <div class="footer-distributed">
        <div class="footer-links">
            <label>Уповноважений із захисту державної мови</label>
            <a href="https://www.google.com.ua/maps/place/%D0%9C%D1%83%D0%B7%D0%B5%D0%B9%D0%BD%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D0%B2%D1%83%D0%BB%D0%BE%D0%BA,+12,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4489188,30.5297857,18.5z/data=!4m5!3m4!1s0x40d4ce524d62783d:0xfe728753b3bd9128!8m2!3d50.4487296!4d30.5302911?hl=ua"
               target="_blank">Поштова
                адреса: 01001, м. Київ, провулок Музейний,12</a>
        </div>
        <div class="footer-links">
            <label>Телефон</label>
            <a href="tel: +38(044)256-60-84">+38(044)256-60-84</a>
        </div>
        <div class="footer-links">
            <label>Електронна пошта</label>
            <a href="mailto: info@mova-ombudsman.gov.ua">info@mova-ombudsman.gov.ua</a>
        </div>
        <div class="footer-links">
            <label>Інформаційно-консультативна лінія</label>
            <a href="tel: +38(044)293-11-79">+38(044)293-11-79</a>
        </div>

        <div class="footer-right">

            <a href="https://www.facebook.com/govuamova/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCn2iFc4U0axaKNcTQQdUYZw?view_as=subscriber" target="_blank"><i
                class="fa fa-youtube"></i></a>
        </div>
    </div>
    <div class="author">
        <div class="inside-author">
            <p>Розробник вебдодатку - <a href="https://www.linkedin.com/in/bogdaniftoda/" target="_blank"> Іфтода
                Богдан </a>
                &copy;
                {{currentYear}}</p>
        </div>
    </div>
</footer>
