@media (max-width: 600px) {
    .map {
        display: block;
        max-width: 100%;
        margin: 80px auto 110px;
    }
    .mapa {
        display: block;
        width: 90%;
        height: 260px;
        margin: 80px auto 10px;
    }

}
@media (min-width: 601px) {
    .map {
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


text {
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    text-align: start;
    line-height: 125%;
    writing-mode: lr-tb;
    text-anchor: start;
    text-decoration: none;
    cursor: default;
}

.fr {
    font-size: 30px;
}

.che {
    font-size: 31px;
}

tspan, g {
    cursor: pointer;
}

.disable-scroll{
    overflow: hidden;
}

.buttons-ios {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.button-ios {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
